# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/
out/
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Electron
*.asar
chrome-bundled/

# Security
icon_signing_private.pem

# Postgresql credentials
.env

# Embedded config (generated at build time)
config/embedded-env.js
   
#Libraries
modules/.env/
modules/_common/vendor/
